.title {
  text-align: center;
  margin-top: 12rem;
  color: brown;
}

.searchb {
    margin-left: 43.5rem;
    margin-top: 1rem;
}

.checkbox1{
    margin-left: 43.5rem;
    margin-top: 1rem;
}

.checkbox2{
margin-left: 43.5rem;

}