.slideshow-container {
    position: relative;
    max-width: 50%;
    margin: auto;
    overflow: hidden;
}


.slide {
    display: block;
    position: relative;
    width: 80%;
}


.fade {
    animation-name: fadeEffect;
    animation-duration: 1.5s;
}


@keyframes fadeEffect {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

/* Style des points indicateurs */
.dots-container {
    text-align: center;
    margin-top: 15px;
}

.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #717171;
}