.titre{
    text-align: center;
    color: brown;
}


.dmsl{
    max-width: 50px; 
}
.hxh{
    max-width: 50px;
}

.ao{
    max-width: 50px;
}

.contact{
    background-color: #38a5a5;
    text-align: center;

}
