.titre{
    text-align: center;
    color: brown;
}

body{
background-color: rgb(36, 34, 38);
}

.para1{
        border: white solid 2px;
}

.para2{
    border: white solid 2px;
}

.para3{
    border: white solid 2px;
}

li{
    margin-left: 2rem;
}

a:hover{
    color: cadetblue;
}

.info{
    margin-left: 82rem;
    border: white solid 2px;
    background-color: rgb(122, 100, 120);
    
}

